<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produtos</title>
</head>
<style>
  
</style>
<body>
  <main>
    <img src="Image20230517213142.jpg" alt="foto"></img>
    <article>
      <p>
       O pao francês, também conhecido como pão cacetinho, pãozinho ou pão de sal, é um tipo de pão feito de farinha, sal, água e fermento. Este pão tem um exterior crocante, e é popular no Chile, Brasil, na região dos Andes da Bolívia e do Peru mas também pode ser encontrado na Argentina e no Uruguai.
      </p>
      <p>
        <strong><i>Preço R$ 14,00/kg</i></strong>
      </p>
    </article>
    <a href="index.html">Voltar</a>
  </main>
</body>
</html>