<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lojas Varejistas</title>
</head>
<body>
    <div class="banner">
        <h1>Lojas Varejistas</h1>
    </div>
    <div class="container">
        

        <table>
            <tr>
                <th>Entidade</th>
                <th>Admin</th>                
            </tr>
            
            <tr>
                <td>Loja</td>
                <td>
                    <a href="#">
                        Admin Loja
                    </a>
                </td>                                
            </tr>

            <tr>
                <td>Produto</td>
                <td>
                    <a href="#">
                        Admin Produto
                    </a>
                </td>                                
            </tr>

            <tr>
                <td>Vende Produto</td>
                <td>
                    <a href="#">
                        Admin VendeProduto
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>