<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lojas Varejistas</title>
</head>

<body>
    <div class="banner">
        <h1 class="title">Lojas Varejistas</h1>
    </div>

    <div class="container">       
        <table class="home_table">
            <tr>
                <td class="head_cell col_first_head_cell">Entidade</td>
                <td class="head_cell col_last_head_cell">Admin</td>                
            </tr>
            
            <tr>
                <td class="cells left_side_cells">Loja</td>
                <td class="right_side_cells">
                    <a href="loja.html">
                        Admin Loja
                    </a>
                </td>                                
            </tr>

            <tr>
                <td class="cells left_side_cells">Produto</td>
                <td class="right_side_cells">
                    <a href="#">
                        Admin Produto
                    </a>
                </td>                                
            </tr>

            <tr>
                <td class="cells left_side_cells">Vende Produto</td>
                <td class="right_side_cells">
                    <a href="#">
                        Admin VendeProduto
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>