<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lojas Varejistas</title>
</head>

<body>
    <div class="banner">
        <h1 id="title">Lojas Varejistas</h1>
    </div>

    <div class="container" id="home_container">       
        <table class="home_table texts">
            <tr class="head_table" id="subtitle">
                <td id="col_first_head_cell">Entidade</td>
                <td id="col_last_head_cell">Admin</td>                
            </tr>
            
            <tr class="cells" id="home_cells">
                <td id="home_first_col">Loja</td>
                <td id="home_last_col">
                    <a href="loja.html">
                        Admin Loja
                    </a>
                </td>                                
            </tr>

            <tr>
                <td id="home_first_col">Produto</td>
                <td id="home_last_col">
                    <a href="produto.html">
                        Admin Produto
                    </a>
                </td>                                
            </tr>

            <tr>
                <td id="home_first_col">Vende Produto</td>
                <td id="home_last_col">
                    <a href="vendas.html">
                        Admin VendeProduto
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>