<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lojas</title>
</head>
<body>
    <div class="banner">
        <h1 class="tile">Lojas</h1>
        <button class="btn" id="btn-submit">
            <a id='btn-link' href="#">Adicionar</a>
        </button>
    </div>

    <div class="container">
        <table class="loja_table">
            <tr class="head_table" id="loja_head_table">
                <td id="col_first_head_cell">ID</td>
                <td id="col_2_loja_head_cell">Nome</td>
                <td id="col_3_loja_head_cell">Endereço</td>  
                <td id="col_4_loja_head_cell">Horário de Atendimento</td>  
                <td id="col_last_head_cell">Ações</td>                  
            </tr>
            
            <tr class="cells" id="loja_cells">
                <td id="loja_col_first">
                    ID Loja
                </td>
                <td id="loja_col_2">                    
                        Nome Loja
                </td>   
                <td id="loja_col_3">
                    Endereço Loja
                </td>
                <td id="loja_col_4">                    
                    Horário loja
                </td>
                <td id="loja_col_last">                    
                    <button class="btn" id="btn-view">
                        <a id="btn-link" href="#">Visualizar</a>
                    </button>
                    <button class="btn" id="btn-edit">
                        <a id="btn-link" href="#">Editar</a>
                    </button>
                    <button class="btn" id="btn-delete">
                        <a id="btn-link" href="#">Excluir</a>
                    </button>
                </td>                                  
            </tr>           
        </table>
    </div>
    <footer>
        <button class="btn" id="btn-home">
            <a id="btn-link" href="index.html">Home</a>
        </button>
    </footer>
    
</body>
</html>