<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lojas</title>
</head>
<body>
    <div class="banner">
        <h1>Lojas</h1>
        <button class="btn btn-submit">
            <a class='btn-link' href="#">Adicionar</a>
        </button>
    </div>

    <div class="container">
        <table>
            <tr class="loja_table">
                <td class="head_cell col_first_head_cell">ID</td>
                <td class="head_cell col_2_head_cell">Nome</td>
                <td class="head_cell col_3_head_cell">Endereço</td>  
                <td class="head_cell col_4_head_cell">Horário de Atendimento</td>  
                <td class="head_cell col_last_head_cell">Ações</td>                  
            </tr>
            
            <tr>
                <td class="col_1">
                    ID Loja
                </td>
                <td class="col_2">                    
                        Nome Loja
                </td>   
                <td class="col_3">
                    Endereço Loja
                </td>
                <td class="col_4">                    
                    Horário loja
                </td>
                <td class="col_5">                    
                    <button class="btn btn-view">
                        <a class="btn-link" href="#">Visualizar</a>
                    </button>
                    <button class="btn btn-edit">
                        <a class="btn-link" href="#">Editar</a>
                    </button>
                    <button class="btn btn-delete">
                        <a class="btn-link" href="#">Excluir</a>
                    </button>
                </td>                                  
            </tr>

            <tr>
                
            </tr>
        </table>
    </div>
    <footer>
        <button class="btn btn-home">
            <a class="btn-link" href="index.html">Home</a>
        </button>
    </footer>
    
</body>
</html>