<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto Admin</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="banner">
        <h1 class="title">Estoque de Produtos</h1>
        <button class="btn" id="btn-submit">
            <a id='btn-link' href="#">Entrada</a>
        </button>
    </div>

    <div class="container" id="produto_container">
        <table class="produto_table">
            <tr class="head_table" id="produto_head_table">
                <td id="col_first_head_cell">ID_Produto</td>
                <td id="col_2_produto_head_cell">Produto</td>
                <td id="col_3_produto_head_cell">Localização</td>
                <td id="col_4_produto_head_cell">Marca</td>
                <td id="col_5_produto_head_cell">Preço</td>  
                <td id="col_6_produto_head_cell">Quantidade</td>  
                <td id="col_7_produto_head_cell">Peso</td>
                <td id="col_last_head_cell">Fornecedor</td>                  
            </tr>
            
            <tr class="cells" id="produto_cells">
                <td id="produto_col_first">
                    ID Produto
                </td>
                <td id="produto_col_2">                    
                        Nome Produto
                </td>   
                <td id="produto_col_3">
                    Marca do Produto
                </td>
                <td id="produto_col_4">                    
                    Local do poduto na loja
                </td>
                <td id="produto_col_5">                    
                    Preço do Produto
                </td>
                <td id="produto_col_6">                    
                    Quantidade do Produto
                </td>
                <td id="produto_col_7">                    
                    Peso
                </td> 
                <td id="produto_col_last">                    
                    Fornecedor ID
                </td>                                 
            </tr>           
        </table>
    </div>

</body>

<footer>
    <button class="btn" id="btn-home">
        <a id="btn-link" href="index.html">Home</a>
    </button>
</footer>

</html>