@charset "utf-8";

.banner {
    background-position: center;    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;    
    justify-content: center;
    align-items: center;
}
.h1 {
    text-align: center;
}

table { 
    border-collapse: collapse;
    border-spacing: 0;
    width: 40%;
    border: 1px solid #ddd;
} 
