<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="style.css">
    <title>Vendas</title>
</head>
<body>
    <div class="banner">
        <h1 id="title">Vendas</h1>
        <button class="btn texts" id="btn-submit">
            <a id='btn-link' href="#">Registrar venda</a>
        </button>
    </div>

    <div class="container" id="vendas_container">
        <h2 id="subtitle">Histórico de vendas</h2>
        <table class="vendas_table texts">
            <tr class="head_table" id="subtitle">
                <td id="col_first_head_cell">ID</td>
                <td id="vendas_head_cell">Data</td>
                <td id="vendas_head_cell">Valor</td>
                <td id="vendas_head_cell">Loja</td>
                <td id="vendas_head_cell">Produto</td>
                <td id="col_last_head_cell">Quantidade</td>
            </tr>

            {% for venda in vendas %}
            <tr class="cells texts">
                <td id="venda_col_first">{{ venda.id }}</td>
                <td id="venda_col_2">{{ venda.data }}</td>
                <td id="venda_col_3">{{ venda.valor }}</td>
                <td id="venda_col_4">{{ venda.loja }}</td>
                <td id="venda_col_5">{{ venda.produto }}</td>
                <td id="venda_col_last">{{ venda.quantidade }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</body>

<footer class="texts">
    <button class="btn texts" id="btn-home">
        <a id="btn-link" href="index.html">Home</a>
    </button>
</footer>
</html>